body {
	background-color: #99ff99;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h3{
	margin-bottom: 2px;
   border: 2px black;
  color: #3399FF;
  font color: white;
  font-size: 1.7em;
}
table
{
  font-size: 1.3em;
  font color: black;
}
@media screen and (max-width: 600px){

.lead
{
font-size: 1.3em;
}
table
{
  font-size: 1em;
  font color: black;

}
}


p
{
 font-size: 1.3em;
text-shadow: white;
font color: wheat;
}
h4
{
	font-size: 1.6em;
}

li
{
	font-size: 1.4em;
}

@media screen and (min-width: 770px) and (max-width: 1100px){

.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in {
    display: block!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}

}